In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'3873492':('D458', '','','F47892','','','D32782'), '77777':('C3728', '','','N43789','','','Y37289')}

In [24]:
df = pd.DataFrame.from_dict(data, orient = 'index').reset_index()
df.columns = ['ClaimID', 'Diag1', 'Toss1', 'Toss2', 'Diag2', 'Toss3', 'Toss4', 'Diag3']
idf = df.set_index(['ClaimID'])
print(idf)

         Diag1 Toss1 Toss2   Diag2 Toss3 Toss4   Diag3
ClaimID
3873492   D458              F47892              D32782
77777    C3728              N43789              Y37289

In [29]:
idf.drop(['Toss1', 'Toss2', 'Toss3', 'Toss4'], axis = 1, inplace = True)

In [30]:
idf

         Diag1   Diag2   Diag3
ClaimID
3873492   D458  F47892  D32782
77777    C3728  N43789  Y37289

In [33]:
idf.to_csv('Claims.csv', sep = ',')